@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --color-coffee-light: #d4c9ba;
  --color-coffee-medium: #6b4f3f;
  --color-coffee-highlight: #ebe0cd;
  --color-coffee-dark: #4a2c2a;
  --color-coffee-deep: #3c2f2f;
  --color-coffee-cream: #96715d;
}

body {
  background: var(--color-coffee-light);
}
